.vertical-nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1 rem;
}

.element {
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 25px;
  background: white;
  transform: translate(100px);
  opacity: 0;
}

.element.show {
  transform: translate(0px, -40px) rotate(20deg);
  transition: transform 1s ease-in-out;
  opacity: 1;
}
