@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translate(100px, 40px);
  }
}

.vertical-nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1 rem;
}

.element {
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 25px;
  background: white;
  opacity: 0;
}

.element.show {
  animation: slideInLeft 1s ease-in-out 1s 1 normal none;
  /* animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none; */
  opacity: 1;
}
