.vertical-nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1 rem;
}

.element {
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  font-size: 25px;
  background: white;
  transform: translateX(1000px);
  opacity: 0;
  transition: 150ms;
}

.element.show {
  transform: translateX(0);
  transition: transform 1s cubic-bezier(1, 0.31, 0.82, 1.12);
  opacity: 1;
}
