.vertical-nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10 rem;
  background-color: red;
}

.card {
  padding: 0.5rem;
  margin: 0.1rem;
  border-radius: 0.25rem;
  font-size: 25px;
  background-color: black;
  transform: translate(100px);
  opacity: 0;
}

.card.show {
  transform: translate(0px, -30px);
  transition: transform 1s ease-in-out;
  opacity: 1;
}
