.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: fit-content;
  min-height: 10rem;
  padding: 10px 0px;
  background-color: #920000;
}

.cardImage {
  background-color: #004792;
}
