.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}

.calendarHeader {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  padding: 3px 0px;
  margin: 0px 0px 5px 0px;
  font-size: 0.5rem;
  background-color: #dcdbdb;
}

.calendarBody {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(auto, 100px);
  column-gap: 5px;
  row-gap: 5px;
  font-size: 0.5rem;
}

.calendarDay {
  padding: 5px 0 0 2px;
  border: 1px solid black;
  font-size: 0.8em;
  background-color: white;
}

.calendarDay:hover {
  background-color: mediumpurple;
}
