.showModalBtn {
  width: 100px;
  height: 15px;
  position: relative;
  z-index: 0;
  border: 1px solid slategray;
  border-radius: 4px;
  background-color: transparent;
}

.modalContainer {
  display: grid;
  grid-template-columns: minmax(1px, 1fr);
  grid-template-rows: 1fr;
  width: fit-content;
  height: auto;
  position: relative;
  z-index: 10;
  font-size: 1rem;
  color: #d0defa;
  background-color: #07184a;
}
