.screenContainer {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100px;
  height: 100px;
  background-color: aquamarine;
}

.showModalBtn {
  width: 100px;
  height: 15px;
  border: 1px solid slategray;
  border-radius: 4px;
  background-color: transparent;
}
