.dropdown {
  display: flex;
  flex-direction: column;
  width: 150px;
  border: none;
  font-size: 50%;
  background-color: #9b9999;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdownOption {
  padding: 3px 0px 3px 2px;
}
