.splitView {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
}

.dividerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  /* top: 50vh; */
  width: 2px;
  height: 100%;
  margin: 10px;
}
