* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  outline: none;
  text-decoration: none;
}

html,
body {
  font-size: 100%;
  /* scroll-snap-type: y mandatory; */
}

a {
  text-decoration: none;
}

input {
  width: 150px;
  height: 20px;
  padding: 1px 2px;
  border: 1px solid #43464b;
}

.appContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100vw;
  background-color: black;
}

.screenContainer {
  height: 100vh;
  background-color: white;
  /* scroll-snap-align: start; */
}

.datepicker {
  display: grid;
  justify-items: center;
}

.modal {
  display: grid;
  justify-items: center;
}

.searchBar {
  display: grid;
  justify-items: center;
}

.toggle {
  display: grid;
  justify-items: center;
}
