* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  outline: none;
  text-decoration: none;
}

html,
body {
  font-size: 100%;
  scroll-snap-type: y mandatory;
}

a {
  text-decoration: none;
}

input {
  width: 150px;
  height: 20px;
  padding: 1px 2px;
  border: 1px solid #43464b;
}

.appContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px));
  /* grid-auto-rows: 1fr; */
  place-items: center;
  gap: 1px;
  width: 100%;
  background-color: black;
}

.screenContainer {
  width: 50vw;
  height: 100vh;
  background-color: white;
  scroll-snap-align: start;
}

.datepicker {
  display: grid;
  justify-items: center;
}

.modal {
  display: grid;
  justify-items: center;
}

.searchBar {
  display: grid;
  justify-items: center;
}

.toggle {
  display: grid;
  justify-items: center;
}
